	body {
		font-family: 'Montserrat', sans-serif;
		min-width: 320px;
		color: #1d1d1d;
		background-color: edbccc;
		margin: 0 50px;
	}
	img {
		max-width: 100%;
		height: auto;
		border: 2px dashed #828282;
		padding: 9px;
		border-radius: 7px;
	}
	section{
		padding: 100px 0;
	}
	h3 {
		font-family: 'Dancing Script', sans-serif;
		font-size: 50px;
		font-weight: bold;
	}
	h4 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 20px;
		text-transform: uppercase;
		text-align: center;
	}